@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.Project {
  background-color: #5c9ead;
  padding: 10vh;
}

.Project p {
  font-size: 14px;
  font-family: "Karla", sans-serif;
}
.Project h5 {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}
.Project h4 {
  font-size: 19px;
  font-family: "Karla", sans-serif;
}
.Project hr {
  background-color: white;
}
.GitButton {
  display: inline-block;
  padding: 0.5em 1.2em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.2s;
}
.GitButton:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}
@media all and (max-width: 30em) {
   CustomButton {
    display: block;
    margin: 0.4em auto;
  }
}
