@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
.experience {
  background-color: #a6b1e1;
  color: black;
  padding: 5vh;
}
.newExperience {
  margin-top: 10vh;
}

.experience h6,
.experience h4,
.experience ul {
  font-size: 19px;
  font-family: "Karla", sans-serif;
}
.experience h6 {
  font-family: "Open Sans" sans-serif;
}
.experience ul {
  font-weight: 300;
}

.experience a:visited,
.experience a:link {
  color: white;
  background-color: black;
  border-radius: 0.3rem;
  padding: 3px;
  text-decoration: none;
}
.experience a:hover {
  padding: 5.5px;
  text-decoration: none;
}
.experience button:hover {
  padding: 10px;
}
