@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap");
.landing-page {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  position: relative;
  background-color: #f8f9fa;
}
/* FB9100 */
.left-side {
  flex-basis: 50%;
  position: relative;
}
.title {
  position: absolute;
  color: black;
  top: 20%;
  left: 20%;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-size: 3rem;
}
.subheading {
  position: absolute;
  top: 30%;
  left: 20%;
  font-family: "Crimson Text", serif;
}
.Terminal p {
  font-family: "Source Code Pro", "monospace";
}
.TerminalHeader {
  padding: 10vh;
}
.side-img {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}
.Button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.MinimizeButton {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.ZoomButton {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.Menu {
  box-sizing: border-box;
  height: 20px;
  width: 60vw;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.Screen {
  background-color: #151515;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fdfdfd;
  z-index: 100;
  width: 60vw;
  min-height: 60vh;
}

.Cursor {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 430px) and (min-height: 500px) {
  .Screen {
    width: 90vw;
  }
  .Menu {
    width: 90vw;
  }
}
