@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap");
.landing-page {
  display: flex;
  flex-flow: row wrap;
  min-height: 94vh;
  position: relative;
  background: rgb(248, 249, 250);
  background: linear-gradient(
    90deg,
    rgba(248, 249, 250, 1) 0%,
    rgba(247, 249, 250, 1) 35%,
    rgba(247, 248, 249, 1) 65%,
    rgba(247, 248, 249, 1) 81%,
    rgba(247, 248, 250, 1) 92%
  );
}
/* FB9100 */
.left-side {
  flex-basis: 50%;
  position: relative;
  .title {
    position: absolute;
    color: #6c63ff;
    top: 20%;
    left: 10%;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 3rem;
  }
  .subheading {
    position: absolute;
    color: #6d767e;
    top: 35%;
    padding-right: 15%;
    left: 10%;
    font-weight: 600;
    z-index: 1;
    font-family: "Crimson Text", serif;
  }
  .down-arrow {
    position: relative;
    padding-left: 20px;
    // top: 16%;
    // left: calc(20% + 150px);
    width: 150px;
  }
}
.right-side {
  position: relative;
  flex-basis: 50%;
  .view-more {
    position: absolute;
    bottom: 150px;
    height: 50px;
    left: 0;
  }
  .side-img {
    margin-top: 5vh;
    position: absolute;
    right: 50px;
    // left: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
}
// 1050px
@media screen and(max-width: 1050px) {
  .left-side {
    padding-top: 40px;
    flex-basis: 100%;
    height: 30vh;
    .title,
    .subheading {
      position: relative;
      padding-left: 20px;
      left: 0;
      right: 0;
    }
    .subheading {
      font-size: 1.5rem;
      // left: 0;
      padding-right: 10px;
    }
  }
  .right-side {
    flex-basis: 100%;
    height: 50vh;
    .view-more {
      bottom: 10px;
      left: 50%;
      // right: 50%;
      transform: translate(-50%, 50%);
    }
    .side-img {
      position: relative;
      margin-top: 0;
      padding-left: 45px;
      padding-right: 20px;
      width: 100%;
      right: 0;
    }
  }
}
