@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');


.txt-type{
  border-right: 0.8rem solid black;
}
.container{
  position: absolute;
  top:50%;
  font-family: 'Anonymous', monospace;
  color: black;
  display: flex;
  flex-direction: column;
}
.mainImage{
  max-height: 100%;
  max-width: 100%;
}