@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');


.txt-type{
  border-right: 0.8rem solid black;
}
.container{
  font-family: 'Anonymous', monospace;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainImage{
  max-height: 100vh;
  width: 100%;
}