@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
.Resume {
  background-color: #dddddd;
  padding: 5vh;
}
.TagLine {
  text-align: center;
}
.SpanRight {
  float: right;
}
.SpanLeft {
  float: left;
}

.Resume li {
  list-style-type: lower-roman;
  margin: 0;
  padding: 0;
}
.ResumeDiv {
  width: 80vw;
}

.Resume p,
.Resume li {
  font-size: 19px;
  font-family: "Karla", sans-serif;
}
.Resume h6 {
  font-family: "Open Sans", sans-serif;
}

.Resume hr {
  background-color: black;
}
.CustomButton {
  display: inline-block;
  padding: 0.5em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}
.CustomButton:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}
@media all and (max-width: 30em) {
   CustomButton {
    display: block;
    margin: 0.4em auto;
  }
}
