$background-color: rgb(248, 249, 250);
$background-gradient: linear-gradient(
  90deg,
  rgba(248, 249, 250, 1) 0%,
  rgba(247, 249, 250, 1) 35%,
  rgba(247, 248, 249, 1) 65%,
  rgba(247, 248, 249, 1) 81%,
  rgba(247, 248, 250, 1) 92%
);
.navigation-bar {
  padding: 0;
  font-weight: 100;
  background: $background-color;
  font-family: "Quicksand", sans-serif;

  background: $background-gradient;
  .navbar-brand {
    color: #b1bcc7 !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
  }
}
.collapse {
  background: $background-color !important;
  background: $background-gradient !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #000000 !important;
  font-weight: 600;
  font-size: 1.3rem;
}
