$background-color: #e0eaf5;

.navigation-bar {
  padding: 0;
  font-weight: 100;
  background: $background-color !important;
  font-family: "Quicksand", sans-serif;

  .navbar-brand {
    color: #002447 !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
  }
}
.collapse {
  background: $background-color !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #000000 !important;
  font-weight: 600;
  font-size: 1.3rem;
}
